@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --font-titulo: 'Berkshire Swash', cursive;
    --font-conteudo: 'Josefin Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: rgb(233, 233, 233);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    background-color: white;
}

.cabecalho-imagem {
    height: 38px;
}

.cabecalho-menu {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.cabecalho-menu-item {
    font: normal 16px var(--font-conteudo);
    color: black;
}

.cabecalho-menu-item:hover {
    color: #ff9100;
    transition-duration: 0.3s;
}

.conteudo {
    background-color: white;
    margin: 0 auto;
}

.conteudo-principal {
    background-image: url('../imagens/ingredientes.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: auto;
    padding: 240px 0 240px 0;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.conteudo-principal-titulo {
    color: white;
    font: normal 64px var(--font-titulo);
}

.conteudo-principal-subtitulo {
    color: #ff9100;
    text-transform: uppercase;
    font: normal 24px var(--font-conteudo);
}

.conteudo-principal-intertitulo {
    color: white;
    font: italic 18px var(--font-conteudo);
}

.conteudo-secundario {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 32px;
}

.conteudo-secundario-escrito {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
}

.conteudo-secundario-escrito-paragrafo {
    color: black;
    font: normal 16px var(--font-conteudo);
}

.conteudo-secundario-escrito-titulo {
    color: #ca7404;
    font: normal 64px var(--font-titulo);
}

.conteudo-secundario-escrito-subtitulo {
    color: black;
    font: normal 32px var(--font-conteudo);
}

.conteudo-secundario-escrito-botao {
    background-color: black;
    width: 180px;
    height: 45px;
    border: none;
    border-radius: 40px;
    color: white;
    font: normal 16px var(--font-conteudo);
    transition-duration: 0.6s;
}

.conteudo-secundario-escrito-botao:hover {
    background-color: #ff9100;
}

.conteudo-secundario-imagem {
    background-image: url('../imagens/amigos-comendo-pizza.jpg');
    width: 600px;
    height: 400px;
    text-align: bottom;
}

.conteudo-secundario-imagem-escrito {
    padding-top: 330px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    align-items: center;
}

.conteudo-secundario-imagem-titulo {
    color: white;
    font: normal 24px var(--font-titulo);
}

.conteudo-secundario-imagem-paragrafo {
    color: white;
    font: normal 18px var(--font-conteudo);
}

.rodape {
    background-color: rgb(61, 61, 61);
    color: white;
    text-align: center;
    padding: 40px;
}

.rodape-conteudo {
    font: normal 16px var(--font-conteudo);
}

.rodape-conteudo a {
    color: #ff9100;
}

.rodape-conteudo a:hover {
    color: #f3a743;
    transition-duration: 0.3s;
}

@media (max-width: 960px) {
    .conteudo-secundario {
        display: block;
        align-items: center;
        justify-content: space-around;
        padding: 32px;
    }

    .conteudo-secundario-escrito {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 400px;
        margin-bottom: 30px;
    }
    
    .conteudo-secundario-imagem {
        background-image: url('../imagens/amigos-comendo-pizza.jpg');
        width: 430px;
        height: 400px;
        text-align: bottom;
    }
}