@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor-fundo: #e7e7e7;
    --cor0: #afbbff;
    --cor1: #8093ff;
    --cor2: #415eff;
    --cor3: #173aff;
    --cor4: #0026ff;
    --cor5: #001aac;
    --font-padrao: Arial, Helvetica, Verdana, sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
    --font-bonita: 'Roboto Mono', monospace;
}

body {
    font-family: var(--font-padrao);
    background-color: var(--cor-fundo);
}

header {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor3));
    padding: 40px;
}

header h1 {
    color: white;
    font: normal 3em var(--font-destaque);
    text-align: center;
}

header p {
    color: white;
    font: normal 1.2em var(--font-bonita);
    max-width: 500px;
    margin: 0px auto 30px auto;
}

nav {
    background-color: var(--cor3);
    padding: 10px;
}

nav > a {
    color: var(--cor0);
    text-decoration: none;
    transition-duration: 0.5s;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

nav > a:hover {
    color: var(--cor3);
    background-color: var(--cor0);
}

main {
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 3px 3px 8px #0000001f;
    padding: 20px;
    min-width: 310px;
    max-width: 1000px;
    margin: auto;
}

main h1 {
    font: normal 1.8em var(--font-bonita);
}

main h2 {
    font: normal 1.4em var(--font-bonita);
}

main p {
    margin: 15px 0px;
    line-height: 25px;
}

main a {
    color: var(--cor5);
    text-decoration: none;
    transition-duration: 0.6s;
}

main a:hover {
    color: var(--cor2);
}

main ul {
    list-style-type: '\2714\0020\0020';
    list-style-position: inside;
    line-height: 50px;
}

footer {
    color: white;
    background-color: var(--cor3);
    text-align: center;
    margin-top: 50px ;
}